.personal-detal {
    max-width: 600px;

    display: flex;
    flex-direction: column;
    gap: 30px;
}

.input-2 {
    width: 287px;

    padding: 10px;
    font-size: 18px;

    border: none;
    border-bottom: 1px solid black
}

.input-wrapper {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 25px;
}